.moth-container {
  margin: 0px auto;
  height:600px;
  width: 800px;
}

.moth{
  position: absolute;
  background:url("moth.png") top left no-repeat;
  width:800px;
  height:600px;
}
.body{
  background-position:-20px -1880px;
}

.wings {
  -webkit-animation: wings 5s steps(1, end) infinite;
  -webkit-animation-direction: alternate;
  -moz-animation: wings 5s steps(1, end) infinite;
  -moz-animation-direction: alternate;
  -ms-animation: wings 5s steps(1, end) infinite;
  -ms-animation-direction: alternate;
  -o-animation: wings 5s steps(1, end) infinite;
  -o-animation-direction: alternate;
  animation: wings 5s steps(1, end) infinite;
  animation-direction: alternate;
  background-position:-20px -1260px;
}

@-webkit-keyframes wings {
  95% { background-position: -20px -1260px; }
  97% { background-position: -20px -640px; }
  99% { background-position: -20px -20px; }
}
@-moz-keyframes wings {
  95% { background-position: -20px -1260px; }
  97% { background-position: -20px -640px; }
  99% { background-position: -20px -20px; }
}
@-ms-keyframes wings {
  95% { background-position: -20px -1260px; }
  97% { background-position: -20px -640px; }
  99% { background-position: -20px -20px; }
}
@-o-keyframes wings {
  95% { background-position: -20px -1260px; }
  97% { background-position: -20px -640px; }
  99% { background-position: -20px -20px; }
}
@keyframes wings {
  95% { background-position: -20px -1260px; }
  97% { background-position: -20px -640px; }
  99% { background-position: -20px -20px; }
}


@media only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dppx) {
  .moth{
    background:url("moth_2x.png") top left no-repeat;
  }
  .body{
    background-position:-20px -3680px;
  }

  .wings {
    background-position:-20px -2460px;
  }

  @-webkit-keyframes wings {
    95% { background-position: -20px -2460px;
    }
    97% { background-position: -20px -1240px;
    }
    99% { background-position: -20px -20px;
    }
  }
  @-moz-keyframes wings {
    95% { background-position: -20px -2460px;
    }
    97% { background-position: -20px -1240px;
    }
    99% { background-position: -20px -20px;
    }
  }
  @-ms-keyframes wings {
    95% { background-position: -20px -2460px;
    }
    97% { background-position: -20px -1240px;
    }
    99% { background-position: -20px -20px;
    }
  }
  @-o-keyframes wings {
    95% { background-position: -20px -2460px;
    }
    97% { background-position: -20px -1240px;
    }
    99% { background-position: -20px -20px;
    }
  }
  @keyframes wings {
    95% { background-position: -20px -2460px;
    }
    97% { background-position: -20px -1240px;
    }
    99% { background-position: -20px -20px;
    }
  }
}
