.moth_2x{ background:url("moth_2x.png") top left no-repeat; }
#wings3{ width:1600px; height:1200px; background-position:-20px -20px; }
#wings2{ width:1600px; height:1200px; background-position:-20px -1240px; }
#wings1{ width:1600px; height:1200px; background-position:-20px -2460px; }
#body{ width:1600px; height:1200px; background-position:-20px -3680px; }
