.haven{ background:url("haven.png") top left no-repeat; }
#sunray3{ width:750px; height:1072px; background-position:-20px -20px; }
#landscape4{ width:750px; height:1072px; background-position:-20px -1112px; }
#landscape3{ width:750px; height:1072px; background-position:-20px -2204px; }
#landscape2{ width:750px; height:1072px; background-position:-20px -3296px; }
#landscape1{ width:750px; height:1072px; background-position:-20px -4388px; }
#sunray2{ width:750px; height:1071px; background-position:-20px -5480px; }
#sunray1{ width:750px; height:1071px; background-position:-20px -6571px; }
