.haven_2x{ background:url("haven_2x.png") top left no-repeat; }
#sunray3{ width:1500px; height:2145px; background-position:-20px -20px; }
#sunray2{ width:1500px; height:2145px; background-position:-20px -2185px; }
#sunray1{ width:1500px; height:2145px; background-position:-20px -4350px; }
#landscape4{ width:1500px; height:2145px; background-position:-20px -6515px; }
#landscape3{ width:1500px; height:2145px; background-position:-20px -8680px; }
#landscape2{ width:1500px; height:2145px; background-position:-20px -10845px; }
#landscape1{ width:1500px; height:2145px; background-position:-20px -13010px; }
